<h1 class="text-teal-900 w-full text-2xl">New video -
    <span class="text-teal-700 font-light text-xl">
        Follow the steps below to add a new video on a learning path
    </span>
</h1>
<hr class="mt-4 border-gray-300 w-full">

<%= render "form.html", Map.put(assigns, :action, Routes.video_path(@conn, :create)) %>

<p class="m-6 p-2 text-center bg-gray-400 text-teal-50 border hover:bg-teal-500 w-24">
<%= link "Back", to: Routes.video_path(@conn, :index) %>
</p>
