/* This file is for your main application css. */

@tailwind base;
@tailwind components;

@font-face {
  font-family: 'Nature Force';
  src: local('Nature Force'), url(./fonts/Nature-Force.ttf) format('ttf');
}

.btn {
  @apply font-bold py-2 px-4 rounded;
}

.btn-blue {
  @apply bg-blue-500 text-white;
}
.btn-blue:hover {
  @apply bg-blue-700;
}

.btn-gray {
  @apply bg-gray-400 text-gray-800;
}
.btn-gray:hover {
  @apply bg-gray-500;
}

@tailwind utilities;

/* Alerts and form errors */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}

.video-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}

video {
min-width: 100%;
min-height: 100%;
position: absolute;
top: 50%;
left: 50%;
z-index: -999;
transform: translateX(-50%) translateY(-50%);
}

iframe#video {
  @apply border-2 shadow-xs;
}

textarea#msg-input {
  width: 400px;
}
